html {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 10px;
}

/* fonts */
h1 {
	font-size: 3.6rem;
}

h3 {
	font-size: 2.2rem;
	margin: 0;
}

p {
	font-size: 1.6rem;
}

a {
	text-decoration: none;
	color: black;
	transition: .3s ease-out;
}

a:hover {
	color: var(--custom-green);
	transition: .3s ease-out;
}

/* colors */
:root {
	--custom-green: #8ff9a0;
	--custom-red: #ec1e1e;
}
