html,
body {
	color: var(--almostBlack);
	font-family: 'Playfair Display', serif;
	font-weight: 200;
	font-size: 11px;
	overflow: hidden;
}

/* fonts */
h1 {
	font-size: 5rem;
	margin-bottom: 1rem;
	line-height: .2rem;
}

h2 {
	font-size: 3.6rem;
	margin-bottom: 1rem;
	line-height: 1rem;
}

h3 {
	font-size: 2.2rem;
	margin: 0;
}

h4 {
	font-size: 2.2rem;
	font-weight: lighter;
}

p {
	font-size: 1.6rem;
}

a {
	text-decoration: none;
	color: black;
	transition: .3s ease-out;
}

a:hover {
	color: var(--green);
	transition: .3s ease-out;
}

li {
	font-size: 1.6rem;
}

/* colors */
:root {
	--green: #8ff9a0;
	--red: #ec1e1e;
	--lightBlue: #94ebeb;
	--almostBlack: #464646;
}
